html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 10vw auto 25vw auto 10vw;
    grid-auto-rows: 10vh 10vh auto 70vh auto;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/** Icons **/

i {
    font-size: 1.5vw;
    color: black;
    text-shadow: 0 0 0.4vw black;
    margin: 0 .7vw;
    transition: 0.3s;
} i:hover {
    transition: 0.5s;
    cursor: pointer;
    color: rgb(40, 119, 189);
    text-shadow: 0 0 0.8vw rgb(40, 119, 189);
}

/** Navbar **/

#navbar {
    grid-column: 1/6;
    grid-row: 1;
    background: linear-gradient(rgb(22, 22, 22), rgba(245, 222, 179, 0.61));
    box-shadow: 0 0 0.4vw  wheat;
    text-align: center;
    opacity: 0;
}

#links {
    margin: 2vw;
}

.link{
    font-size: 2vw;
    margin: 0 2vw;
}

/** Logo **/

#logo {
    grid-column: 1;
    grid-row: 1;
    /* background-color: red; */
    margin: 1vw;
    position: fixed;
    z-index: 1;
}

/** Menu **/

#menu {
    grid-column: 5;
    grid-row: 1;
    /* background-color: blue; */
    text-align: center;
    margin: 1vw;
    z-index: 10;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 1.8vw;
    height: 0.5vh;
    background-color: black;
    box-shadow: 0 0 0.4vw black;
    margin: 0.6vh 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-0.5vw, 0.5vh);
    transform: rotate(-45deg) translate(-0.5vw, 0.5vh);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-0.5vw, -0.5vh);
    transform: rotate(45deg) translate(-0.5vw, -0.5vh);
  }

/** About **/

#about {
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    font-size: 3vw;
    color: black;
    font-weight: 200;
    /* text-shadow: 0 0 0.4vw black; */
}

/** Main **/

#main {
    grid-column: 2/5;
    grid-row: 3;
    margin: 2vw;
    padding: 2vw;
    border-radius: 1vw;
    color: black;
    display: flex;
    flex-direction: column;
}

.cardTop {
    width: 100%;
    margin-top: 4vw;;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    background-color: wheat;
    box-shadow: 0 0 0.4vw wheat;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    margin-bottom: 0.2vw;
}

.card {
    width: 100%;
    padding: 2vw;
    font-size: 0.5vw;
    background-color: wheat;
    box-shadow: 0 0 0.4vw wheat;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    margin-bottom: 6vw;
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
    margin : 0 2vw;
}

.flex_row {
    display: flex;
    flex-direction: row;
    margin : 2vw 0;
    padding: 0.5vw 1vw;
    transition: 0.7s;
    border-radius: 1.3vw ;
} .flex_row:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

p {
    margin: auto;
    font-size: .9vw;
}

.picture {
    width: 50vw;
    height: auto; 
    margin: auto;
    box-shadow: 0 0 00.8vw rgba(255, 255, 255, 0.329);
}