html, body {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(217deg, rgb(255, 255, 255), rgba(192, 192, 192, 0) 70.71%),
    linear-gradient(127deg, rgba(231, 231, 231, 0.945), rgba(230, 230, 230, 0) 70.71%),
    linear-gradient(336deg, rgba(238, 238, 238, 0.897), rgba(218, 218, 218, 0) 70.71%);
    font-family: 'Comic Neue', cursive;
}

/* HEADER */
#header{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0, 99, 255, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    opacity: 0.8;
    width: 100%;
    text-align: center;
    font-size: 1,5vw;
    padding: 0.5vw 0vw;
    box-shadow: 0vw 0vw 2vw 0.1vw black;
}

/* MAIN */
#main{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}


.title{
    color: #292626;
    font-size: 2vw;
    text-align: center;
    font-style: bold;
    font-family: 'Poiret One', cursive;

}


#main_zone{
    /* display flex : mettre les éléments les uns à la suite des autres */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
}

#zone_text{
    width: 40vw;
    margin-left: 10vw;
}

hr{
    margin-top: -1vw;
    margin-bottom: 2vw;
    width: 60vw;
    height: 0.1vw;
    background-color: rgb(136, 152, 156);
}

h5{
    color: #222121;
    font-size: 1.5vw;
    font-family: 'Comic Neue', cursive;
}
h6{
    color: rgb(66, 60, 60);
    font-size: 1.2vw;
}

p{
    font-size: 1.25vw;
    text-align: left;
    text-align: justify;
}

.imgCard {
    width: 42vw;
    height: 24vw;
    border:none;
    border-radius: 0.4vw;
    box-shadow: 0vw 0vw 1.1vw black;
}

/* FOOTER */

#footer{
    background: linear-gradient(#000000, #1b1b1b, #313131);
    color: whitesmoke;
    width: 100%;
    text-align: center;
    font-size: 1vw;
    padding: 0.05vw 0vw;
    margin-top: 4vw;
    box-shadow: 0vw 0vw 2vw 0.1vw black;
    font-family: 'Poiret One', cursive;
}

/* -width: permet de définir la largeur de la boîte du contenu d'un élément. 
   -margin(left/right/top/bottom): définit la taille des marges sur les quatre côtés de l'élément.
   -padding: permet de définir les différents écarts de remplissage sur les quatre côtés d'un élément.

   NB :
   Le padding permet de créer un espace supplémentaire à l'intérieur d'un élément.
   La marge (margin) permet quant à elle de créer un espace supplémentaire à l'extérieur de l'élément.*

  -Box-shadow ajoute des ombres à la boîte d'un élément.

  -display flex : mettre les éléments les uns à la suite des autres.

  -Flex direction:  elle définit l'axe principal et la direction des éléments dans une zone. 
  row : gauche à droite
  row reverse : droite à gauche
  column : de haut en bas
  column-reverse : de bas en haut++++



/* #### Mobile Phones Portrait #### 
@media screen and (min-device-width: 480px) and (orientation: portrait){
    #main_zone{
        /* display flex : mettre les éléments les uns à la suite des autres 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
  }
  
  #### Mobile Phones Landscape #### 
  @media screen and (max-device-width: 640px) and (orientation: landscape){
   some CSS here
  }
  
#### Mobile Phones Portrait or Landscape ####
  @media screen and (max-device-width: 640px){
     some CSS here 
  }
  
 #### iPhone 4+ Portrait or Landscape #### 
  @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    some CSS here 
  }

  CECI EST UN TEST 2 3 4
  */